@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');

.logo {
    font-family: 'Major Mono Display', monospace;
}

.mytitle,
.subtitle,
.content,
.btns {
    font-family: 'Numans', sans-serif;
}

.nav-link {
    cursor: pointer;
    transition: all .2s ease-in
}

.badgeurl,
.icons {
    transition: all .2s ease-in-out
}

.badgeurl:hover {
    transform: scale(1.1)
}

.icons:hover {
    transform: scale(1.1)
}

.btns {
    transition: all .2s ease-in
}